<footer class="footerContainer">
  <section>
    <article class="footerItem contacts">
      <h4 class="footerTitle">Follow Us</h4>
      <ul class="follow-us">
        <li class="facebook">
          <a href="#"
            ><i class="fab fa-facebook fa-2x footer-icon-mobile"></i
          ></a>
          <a href="#"
            ><span class="nameItemfooter"
              >Facebook: <i class="fab fa-facebook fa-lg"></i></span
          ></a>
        </li>
        <li class="twitter">
          <a href="#"
            ><i class="fab fa-twitter-square fa-2x footer-icon-mobile"></i
          ></a>
          <a href="#"
            ><span class="nameItemfooter"
              >Twitter: <i class="fab fa-twitter-square fa-lg"></i></span
          ></a>
        </li>
        <li>
          <a href="/home"
            ><img class="footer_icon" src="/images/techLand1White.png" alt=""
          /></a>
        </li>
        <li class="instagram">
          <a href="#"
            ><i class="fab fa-instagram-square fa-2x footer-icon-mobile"></i
          ></a>
          <a href="#"
            ><span class="nameItemfooter"
              >Instagram: <i class="fab fa-instagram-square fa-lg"></i></span
          ></a>
        </li>
        <li class="git-hub">
          <a href="#"><i class="fab fa-github fa-2x footer-icon-mobile"></i></a>
          <a href="#"
            ><span class="nameItemfooter"
              >Git-Hub: <i class="fab fa-github fa-lg"></i></span
          ></a>
        </li>
      </ul>
    </article>
    <hr />
    <article class="footerItem contact-us">
      <h4 class="footerTitle">Contact Us</h4>
      <ul class="contactFooter">
        <li class="contactFooterItem">Call: +52 55 XX XX XX XX</li>
        <li class="contactFooterItem">E-mail: something@someadress.com</li>
      </ul>
    </article>

    <article class="footerItem subscribe">
      <h4 class="footerTitle">Subscribe to the newsletter.</h4>
      <form class="footerFormMobile" action="#" method="POST">
        <input type="email" placeholder="something@someadress.com" required />
        <button type="submit">Subscribe</button>
      </form>
    </article>

    <p class="copyright">Ⓒ Tech-land. <br>
      Todos los derechos reservados. 2021.</p>
  </section>
</footer>
