
        <a href="/products/detail/<%= product.id %>">
          <article class="Item">
            <img class="itemImage" src="<%= product.img %>" alt="Core-i9" />
            <div class="specifications">
              <h3 class="titleItem">
                <%= product.name %>              
              </h3>
              <p class="price">$ <%= product.price %></p>
              <p class="recommendations"><a href="#">Articulos similares</a></p>
            </div>
          </article>
        </a>
  
